# Общая информация о приложении.
APP_TITLE=
DESCRIPTION=

# Параметры подключения к Postgres.
POSTGRES_USER=username 
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name
DB_HOST=host
DB_PORT=port
DB_TYPE=postgresql
DB_API=asyncpg