# Общая информация о приложении.
APP_TITLE=
DESCRIPTION=
SELF_URL=localhost

#  Для веб-сервера Caddy
TLS_EMAIL=email@for.letsencrypt.cert

# Параметры подключения к Postgres.
POSTGRES_USER=invatur
POSTGRES_PASSWORD=_CHANGEME_PG_PASS_
POSTGRES_DB=invatur
DB_HOST=postgres
DB_PORT=5432
DB_TYPE=postgresql
DB_API=asyncpg

# Админские креды.
ADMIN_USERNAME=admin
ADMIN_PASSWORD=12345

# BOT
BOT_TOKEN=bot_token
TG_BOT_URL=https://t.me/название_бота

# Yandex Speech-Kit
SPEECH_KIT_API_KEY=speech_kit_api_key
SPEECH_KIT_URL=https://tts.api.cloud.yandex.net/speech/v1/tts:synthesize
VOICE_LANG=ru-RU
VOICE_NAME=alena

# Yandex Forms
YANDEX_FORMS_URL=https://api.forms.yandex.net/v1/surveys/